.portaltype-seantis-dir-contacts-directory #directorySearch {
    padding: 1em 1.5em;
    margin-top: auto;
}

.portaltype-seantis-dir-contacts-directory .directoryResult {
    padding: 1em 1.5em;
    margin: auto;
}